html, body {
	margin: 0;
	background-color: #222;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

canvas {
	width: 100vh;
	height: 100vh;
	background-color: #222;
	overflow: hidden;
	display: block;
	border: 1px solid #ccc;
}
